/* MFE Main Section */

.mfeMain {
    background: #e1d5e7;
    color: #333;
    padding: 25px;
    position: relative;
    border: 5px dashed transparent;
}

.mfeMainH1 {
    font-size: 200%;
    margin: 0 0 35px 0;
}

.mfeMainImg {
    height: 100px;
    /* margin-bottom: 25px; */
    border-radius: 5px;
}

.mfeMainP {
    background: #b7a3d1;
    padding: 25px;
    border-radius: 5px;
    margin-top: 0;
    font-size: small;
}

.mfeCard {
    border: 1px solid #b7a3d1;
    font-size: small;
    border-radius: 5px;
    overflow: hidden;
}

.mfeCardTitle {
    background: #b7a3d1;
    color: #333;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 3px 6px;
}

.mfeCardAlt {
    border: 1px solid #efefef;
}

.mfeCardAlt .mfeCardTitle {
    background: #efefef;
}
