:root:not([data-theme=dark]),
[data-theme=light] {
    --primary: #7e4184;
    --primary-hover: #563666;
    --background-color: #e5e9ec;
    --color: #2f353f;
    --card-background-color: #fff;
    --card-box-shadow: none;
    --border-radius: 3px;
}

:root {
    --font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;
    --form-element-spacing-vertical: 0.25rem;
    --form-element-spacing-horizontal: .5rem;
}

:root {
    --font-size: 16px;
}

button {
    border: none;
    border-radius: 3px;
    background-color: #2e7ab8;
    background-repeat: repeat-x;
    background-image: linear-gradient(#418fcf,#2e7ab8);
}

button:hover {
    background-color: #2e7ab8;
    background-repeat: repeat-x;
    background-image: linear-gradient(#418fcf,#296ea6);
}

button:active {
    background-color: #2e7ab8;
    background-repeat: repeat-x;
    background-image: linear-gradient(#2e7ab8,#418fcf);
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 600;
}

strong {
    font-weight: 600;
}

article {
    border: 1px solid #c8d0d6;
    padding: 1.25rem;
    margin: 0;
}

.inspect .mfeCard {
    outline: 5px dashed #7e4184;
    outline-offset: 8px;
    border-radius: 1px;
}

.mfeCard_before {
    display: none;
}

.inspect .mfeCard_before {
    display: block;
    position: absolute;
    transform: translate(0px, -21px);
    background: #1b2832;
    border-radius: 10px;
    padding: 0 10px;
    font-size: small;
    color: #fff;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }
}

.hidden {
    display: none;
}

/* Layout Utilities Mostly */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-5 {
    gap: 1.25rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-10 {
    gap: 2.5rem;
}

.w-full {
    width: 100%;
}

.w-1\/2 {
    width: 50%;
}

.w-1\/3 {
    width: 33.33%;
}

.w-1\/4 {
    width: 25%;
}

.w-1\/5 {
    width: 20%;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-max-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.text-center {
    text-align: center;
}

/* TODO: use WindiCSS or UnoCSS w/o preflights */
@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:w-full {
        width: 100%;
    }

    .lg\:w-1\/2 {
        width: 50%;
    }

    .lg\:w-1\/3 {
        width: 33.33%;
    }

    .lg\:w-1\/3-gap-6 {
        width: calc(33.33% - 1.5rem);
    }

    .lg\:w-1\/4 {
        width: 25%;
    }

    .lg\:w-1\/4-gap-6 {
        width: calc(25% - 1.5rem);
    }

    .lg\:w-1\/5 {
        width: 20%;
    }

    .lg\:w-1\/5-gap-6 {
        width: calc(20% - 1.5rem);
    }
}

/* Why not? */
div {
    display: flex;
    flex-direction: column;
}

div.no-flex {
    display: block;
}

nav {
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c8cf;
}

nav li {
    padding-top: 7px;
    padding-bottom: 7px;
}

.w-auto {
    width: auto;
}

